.mySwiper3 {
    height: 480px;
    margin: 1em;
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2 {
    border: 1px solid var(--cultured);
    width: 98%;
    height: 90px;
    border-radius: 7px;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2>.cont-img{
    width: 70px;
    height: 60px;
    margin-left: 1em;
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2>.cont-img>img{
    width: 100%;
    height: 100%;
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2>.cont-text>.p1{
    font-size: 14px;
    font-weight: bold;
    margin-top: 1.5em;
    font-family: var(--poppins);
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2>.cont-text>.p2{
      font-size: 13px;
      font-family:var(--poppins);
      margin-top: -1em;
      margin-bottom: -1em;
          color: gray;
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2>.cont-text>.p3{
    font-weight: bold;
    font-size: 14px;
    font-family:var(--poppins);
    color: var(--pink);
}

.mySwiper3>.swiper-wrapper>.swiper-slide>.container2>.cont-text>.p3>span{
    text-decoration: line-through;
    font-weight: 200;
    color: #000;
    font-size: 12px;
    margin-left: 0.3em;
}

.new-arrivals{
    margin:-0.5em 1em 1.2em 1em;
    font-family: var(--poppins);
    font-weight: 600;
  }
  
  
