body{
  margin: 0;
}



.swiper {
height: 300px;
margin: 2em 1em;
border-radius: 7px;

}

.swiper-slide{
position: relative;
}
.swiper-slide > img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: right;
position: absolute;

}

.box1 {
position: absolute;
bottom: 1em;
left:1em;
width: 70%;
padding: 0em 1em 1em;
background-color:rgba(255,255,255,0.8);
border-radius: 10px;
}

.box1 > p {
color: rgb(225, 143, 156);
font-family: monospace;
font-weight: 600;
margin-bottom: -0.5em;
}

.box1 > h2 {

font-family: monospace;
font-weight: 600;
margin-bottom: 0;
}

.box1 > button{
background-color: rgb(225, 143, 156);
font-weight:600;
font-size:8px;
color: white;
padding: 4px 10px;
border: none;
border-radius:2px;

}

